cache/
out/



# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/



# Dotenv file
broadcast/
lib/forge-std
lib/openzeppelin-contracts
lib/openzeppelin-contracts-upgradeable
lib/openzeppelin-foundry-upgrades
.env
